.wp-block-person-list {
  .wp-block-person-list__entries {
    display: flex;
    flex-wrap: wrap;
  }

  .teaser--person {
    flex: 0 0 100%;
    margin-bottom: $spacing-layout-m;
  }

  &.layout-horizontal {
    .wp-block-person-list__entries {
      .teaser--person {
        @include breakpoint('medium') {
          flex-basis: 50%;
        }
      }
    }
  }

  &.layout-vertical {
    .wp-block-person-list__entries {
      .teaser--person {
        @include breakpoint('medium') {
          flex-basis: 50%;
        }

        @include breakpoint('large') {
          flex-basis: 33%
        }

        @include breakpoint('xlarge') {
          flex-basis: 25%
        }
      }
    }
  }

  &.align-left {
    .wp-block-person-list__entries {
      justify-content: left;
    }
  }

  &.align-center {
    .wp-block-person-list__entries {
      justify-content: center;
    }
  }

  &.align-right {
    .wp-block-person-list__entries {
      justify-content: right;
    }
  }
}

body.has-sidebar {
  .wp-block-person-list {
    &.layout-horizontal {
      .wp-block-person-list__entries {
        .teaser--person {
          @include breakpoint('large') {
            flex-basis: 100%;
          }
        }
      }

      &.align-left,
      &.align-center,
      &.align-right {
        justify-content: left;
      }
    }

    &.layout-vertical {
      .wp-block-person-list__entries {
        .teaser--person {
          @include breakpoint('large') {
            flex-basis: 50%;
          }

          @include breakpoint('xlarge') {
            flex-basis: 50%;
          }
        }
      }
    }
  }
}
