.entry-content,
.is-root-container,
.wp-block-group,
.wp-block-group__inner-container,
.wp-block-cover__inner-container,
.wp-block-media-text__content,
.wp-block-column {
  > [class^="wp-block"] {
    margin-top: $spacing-2-xl;
    margin-bottom: $spacing-2-xl;

    &.alignfull.has-background + .alignfull.has-background {
      margin-top: #{-1 * 3rem};
    }

    @each $name, $value in $block-margins {
      @include breakpoint($name) {
        margin-top: $value;
        margin-bottom: $value;

        &:first-child {
          margin-top: 0;
        }

        &.alignfull.has-background + .alignfull.has-background {
          margin-top: #{-1 * $value};
        }
      }
    }
  }
}

.is-root-container,
.wp-block-group,
.wp-block-group__inner-container,
.wp-block-cover__inner-container,
.wp-block-media-text__content,
.wp-block-column {
  > [class^="wp-block"]:last-child {
    margin-bottom: 0;
  }
}
