.searchwp-live-search-results {
  border: solid 1px var(--color-black-90);
  box-shadow: none;
  border-radius: 0;
  margin-top: -3px; // align with field

  p {
    display: block;
    font-size: inherit;
    border-bottom: 0;

    a {
      color: inherit;
      display: block;
      text-decoration: none;
      padding: 12px 14px;
    }

    &:hover,
    &:focus {
      background-color: var(--color-black-10);
    }
  }
}
